src/resources/structs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="structs" type="structsType"/>

  <xs:complexType name="structsType">
    <xs:sequence>
      <xs:element type="structType" name="struct" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="structType">
    <xs:sequence>
      <xs:element type="entryType" name="entry" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>

  <xs:complexType name="entryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" />
        <xs:attribute type="xs:string" name="id" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
